body {
  background: rgb(205, 164, 50);
}
h1,
p {
  text-align: center;
}
.croissant-photo {
  border-radius: 10px;
  margin: 30px 0;
  display: block;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: greenyellow;
}
